*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.box{
    padding: 15px;
    border-radius: 8px;
}
.box1{
    background-color: rgb(58, 53, 53);
    color: white;
}
.box2{
    background-color: rgb(232, 230, 224);
    color: black;
}
.box3{
    grid-area: three;
    background-color: rgb(58, 53, 53);
    color: white;
}
.box4{
    grid-area: four;
    background-color: rgb(232, 230, 224);
    color: black;
}
.box5{
    grid-area: five;
    background-color: rgb(58, 53, 53);
    color: white;
}
.box6{
    grid-area: six;
    background-color: rgb(232, 230, 224);
    color: black;
}
.box7{
    grid-area: seven;
    background-color: rgb(58, 53, 53);
    color: white;
}
.box8{
    grid-area: eight;
    background-color: rgb(232, 230, 224);
    color: black;
}
.container{
    display: grid;
    height: 100%;
    padding: 2rem;
    gap: 10px;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows:100px 100px;
    grid-template-areas: 
    "three four five six seven eight"
    ;
}